.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  font-size: calc(10px + 2vmin);
  color: #866b6b;
}

.navselection {
  color: black;
  margin: 0px 13px 3px 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}
.navselection:hover {
  margin: -3px 16px 3px 3px;
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  filter: grayscale(0%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
