.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  font-size: calc(10px + 2vmin);
  color: #866b6b;
}

.Profile-header {
  padding: 120px;
  height: 300px;
}

.chatbox {
  margin: auto;
  float: left;
}

.column {
  margin: auto;
  float: left;
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  height: 0px;
}

.column2 {
  margin: 0px 10px;
  float: left;
  width: 80;
  padding-top: 20px;
  padding-right: 200px;
  padding-left: 220px;
  height: 300px;
}

.dropdown {
  margin-right: 50px;
}

.lobby {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-games {
  margin-left: 400px;
  margin-right: 400px;
}

.navselection {
  color: rgb(192, 192, 192);
  margin: 0px 13px 3px 3px;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}

.navselection:hover {
  margin: 0 20px 3px 3px;
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
  filter: grayscale(0%);
}
.chat-history {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.chat-section {
  text-align: left;
  box-shadow: 1px 1px 5px 1px #888888;
  height: 73vh;
}
.text-area {
  width: 100%;
  margin: 22px;
}

.black-card {
  text-align: center;
  background-color: black !important;
  color: black !important;
  width: 100%;
  padding: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.game-page {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.white-card {
  transition: all 0.4s ease;
  align-content: center;
  align-items: center;
  width: 160px;
  margin: 5px;
  padding: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 70px;
  padding-bottom: 70px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 1s;
}
.selection {
  
  width: 20%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.selection-selected {
  filter: grayscale(100%);
  transition: all 0.4s ease;
  box-shadow: -5px 10px #888888;
  border-radius: 5px;
}
.chat-container{
  height:400px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.white-card-selected {
  filter: grayscale(100%);
  transition: all 0.4s ease;
  box-shadow: -5px 10px #888888;
  border-radius: 5px;
}

.player-list {
  margin-top: 12px;
  margin-bottom: 12px;
}

.game-display {
  margin: 55px;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: auto;
  text-align: center;
}

.game-display-submitted{
  margin: 55px;
  align-content: left;
  align-items: left;
  justify-content: left;
  text-align: left;
}
.player-submission{
  transition: all 0.4s ease;
  align-content: center;
  align-items: center;
  width: 160px;
  margin: 5px;
  padding: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
 
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 1s; 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centertext {
  text-align: center;
}

.cah-login {
  text-align: center;
  padding-top: 200px;
}

.sidebarContainer {
  position: fixed;
  width: 280;
  height: 100%;
  left: 0;
  overflow: auto;
  background: #2c2c31;
  color: rgb(212, 212, 212);
}

.sidebarAdmin {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: rgb(39, 39, 39);
}

.sidebarNav li {
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.sidebarNav li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: rgb(197, 197, 197);
}

.profile-page {
  padding-left: 500px;
  padding-right: 500px;
}

#justice {
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.1em;
}

#slideshow {
  overflow: hidden;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 24s ease infinite;
}

.slide {
  float: left;
  height: 100vh;
  width: 728px;
  margin-top: 20px;
}

.slide:nth-child(1) {
  background: #D93B65;
  background-repeat: no-repeat; 
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}

.slide-number {
  margin-top: 25%;
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

.wrapper {
  min-width: 100%;
  height: 100vh;
  background-color: #333940;
  margin: 0 auto;
}
.left {
  width: 50%;
  height: 100vh;
  float: left;
  margin-right: 0px;
}
.right {
  width: 50%;
  height: 100vh;
  background-color: #fff;
  float: right;
}